@font-face {
    font-family: 'Hind Siliguri NF';
    src: url('HindSiliguriNFLight.eot');
    src: url('HindSiliguriNFLight.eot?#iefix') format('embedded-opentype'),
        url('HindSiliguriNFLight.woff2') format('woff2'),
        url('HindSiliguriNFLight.woff') format('woff'),
        url('HindSiliguriNFLight.ttf') format('truetype'),
        url('HindSiliguriNFLight.svg#HindSiliguriNFLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0964-0965, U+0981-09FB, U+200B-200D, U+20B9, U+25CC;
}

@font-face {
    font-family: 'Hind Siliguri NF';
    src: url('HindSiliguriNFBold.eot');
    src: url('HindSiliguriNFBold.eot?#iefix') format('embedded-opentype'),
        url('HindSiliguriNFBold.woff2') format('woff2'),
        url('HindSiliguriNFBold.woff') format('woff'),
        url('HindSiliguriNFBold.ttf') format('truetype'),
        url('HindSiliguriNFBold.svg#HindSiliguriNFBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0964-0965, U+0981-09FB, U+200B-200D, U+20B9, U+25CC;
}

@font-face {
    font-family: 'Hind Siliguri NF';
    src: url('HindSiliguriNFMedium.eot');
    src: url('HindSiliguriNFMedium.eot?#iefix') format('embedded-opentype'),
        url('HindSiliguriNFMedium.woff2') format('woff2'),
        url('HindSiliguriNFMedium.woff') format('woff'),
        url('HindSiliguriNFMedium.ttf') format('truetype'),
        url('HindSiliguriNFMedium.svg#HindSiliguriNFMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0964-0965, U+0981-09FB, U+200B-200D, U+20B9, U+25CC;
}

@font-face {
    font-family: 'Hind Siliguri NF';
    src: url('HindSiliguriNFSemiBold.eot');
    src: url('HindSiliguriNFSemiBold.eot?#iefix') format('embedded-opentype'),
        url('HindSiliguriNFSemiBold.woff2') format('woff2'),
        url('HindSiliguriNFSemiBold.woff') format('woff'),
        url('HindSiliguriNFSemiBold.ttf') format('truetype'),
        url('HindSiliguriNFSemiBold.svg#HindSiliguriNFSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0964-0965, U+0981-09FB, U+200B-200D, U+20B9, U+25CC;
}

@font-face {
    font-family: 'Hind Siliguri NF';
    src: url('HindSiliguriNFRegular.eot');
    src: url('HindSiliguriNFRegular.eot?#iefix') format('embedded-opentype'),
        url('HindSiliguriNFRegular.woff2') format('woff2'),
        url('HindSiliguriNFRegular.woff') format('woff'),
        url('HindSiliguriNFRegular.ttf') format('truetype'),
        url('HindSiliguriNFRegular.svg#HindSiliguriNFRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0964-0965, U+0981-09FB, U+200B-200D, U+20B9, U+25CC;
}